<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			Turnout
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

<ion-grid>
	<img src="assets/event-cover.jpg" id="cover">
	<h2 class="title">Tell us what you like</h2>
	<p class="title">You can change this at any time in your profile</p>

	<ion-row *ngFor="let item of items;let i = index">

		<ion-col *ngFor="let col of item;let j = index">
			<ion-card [ngClass]="{'selected': col.selected}" (click)="check(i,j)">
				<img src="assets/{{col.image}}" />
				<div class="card-title">{{col.name}}</div>
			</ion-card>
		</ion-col>

	</ion-row>
</ion-grid>

<button ion-button icon-right (click)="submitPrefs()" id="go-button">Let's Go </button>

</ion-content>
