page-events {
    #title {
        color: #fff;
        font-size: 22pt;
        margin-top: -65px;
        margin-bottom: 10px;
        font-family: "SF-UI-Display-Regular"
    }

    .event-time {
        font-size: 12pt;
        margin: 0;
    }

    .event-descrip {
        margin-top: 7px;
        margin-bottom: 5px;
        line-height: 1.2em;
    }

    a {
        color: #29D9CB;
    }
}


