page-add-events {
    .pg-title {
        color: #FFF;
    }

    .toolbar-title {
        color: #F26173;
    }

    .photo-div {
        text-align: center;
    }

    .photo-div > img {
        width: 100%;
        -webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
        -webkit-filter: brightness(60%);
    }

    .photo-div > ion-icon {
        color: #29D9CB;
        position: absolute;
        font-size: 30pt;
        text-align: center;
        left: 45%;
        right: 45%;
        margin-top: -150px;
    }

    .photo-div > h3 {
        font-family: "SF-UI-Display-Regular";
        // color: #FFF;
        position: absolute;
        margin-top: -100px;
        color: #fff;
        left: 20%;
        right: 20%;
        font-size: 18pt;
    }

    .photo-div > p {
        margin-top: -80px;
    }

    .title-div {
        height: 140px;
        background-color: #29D9CB;

        #title {
            position: absolute;
            padding-top: 92px;
            margin-left: 40px;
            color: #FFF;
        }

        form {
            padding-top: 80px;

            .item-block {

                ion-input {
                    margin-left: 80px;
                    border: none;
                    color: #FFF;
                }

                .item-inner {
                    border-bottom: 0;
                }
            }
        }
    }

    #time-icon, #categ-icon, #loc-icon, #descrip-icon {
        position: absolute;
        color: #29D9CB;
        font-size: 24px;
    }

    #time-icon {
        left: 11px;
        margin-top: 9px;
    }

    #loc-icon {
        left: 13px;
        margin-top: 54px;
    }

    #categ-icon {
        left: 10px;
        margin-top: 97px;
    }

    #descrip-icon {
        left: 12px;
        margin-top: 142px;
    }


    form {
        color: #FFF;
        background-color: transparent;
        margin-left: 24px;

        ion-item {

            ion-label {
                color: #212121;
                font-family: "SF-UI-Display-Regular";
            }
        }
    }

    .item {
        background-color: transparent;
    }

    #submit-button {
        width: 95%;
        margin: 3% 2.5% 2% 2.5%;
    }

    #checks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        border: none;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5px;

        .checkboxes {
            flex-grow: 1;
            flex-basis: 33%;
            font-size: 0.75em;
            padding: 0;

            ion-checkbox {
                margin-right: 5px;
                color: #F26173;

                button {
                    padding: 0;
                }
            }
        }

        .item-block {

            .item-inner {
                padding-right: 0;
                border-bottom: 0;
            }
        }
    }
}
